body {
  background-color: White;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75px repeat(4, 1fr);
  background-color: var(--bg);
}

.header{
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

#chosen-store{
  width: 100%;
  margin: 5px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--text);
  background-color: var(--blue);
}

#store-select {
  height: 34px;
  font-size: 20px;
}

.data-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 3px;
}

.data-box-header {
  background-color: var(--blue);
  color: var(--text);
  font-size: 28px;
  font-weight: bold;
  padding-left: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.data-box-title {
  color: var(--text);
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.data-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.data-card {
  background-color: White;
  border-radius: 3px;
  height: 100px;
  width: 33%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.data-card-header{
  font-size: 20px;
  text-decoration: underline;
}
.big-number{
  height: 65%;
  font-size: 36px;
}

.little-number {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 20px;
}

.chart {
  margin: 0px 5px;
  border-radius: 3px;
}

#insp-box {
  grid-column: 1/2;
  grid-row: 2/3;
}

#tx-box {
  grid-column: 2/3;
  grid-row: 2/3;
}

#speed-box {
  grid-column: 1/2;
  grid-row: 3/4;
}










@media print{
  .form-div{
    display: none;
  }
}
