body {
  background-color: White;
}

.nav {
  grid-area: nav;
}
.header{
  grid-area: header;
}

.left-col {
  grid-area: left-col;
}

.right-col {
  grid-area: right-col;
}

.footer {
  grid-area: footer;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav"
    "header header"
    "left-col right-col"
    "footer footer";
  background-color: var(--bg);
}

.header{
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

#chosen-store{
  width: 100%;
  margin: 5px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--text);
  background-color: var(--blue);
}

#store-select {
  height: 34px;
  font-size: 20px;
}

.data-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 3px;
  padding: 3px;
}

.data-box-header {
  background-color: var(--blue);
  color: var(--text);
  font-size: 28px;
  font-weight: bold;
  padding-left: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.data-box-title {
  color: var(--text);
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.data-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.data-card {
  background-color: White;
  border-radius: 3px;
  height: 100px;
  width: 33%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.data-card-header{
  font-size: 20px;
  text-decoration: underline;
}
.big-number{
  height: 65%;
  font-size: 30px;
}

.little-number {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 20px;
}

.chart {
  margin: 0px 5px;
  border-radius: 3px;
}

.footer {
  height: 50px;
}

@media only screen and (max-width: 1345px){

  .big-number{
    font-size: 24px;
  }

  .little-number {
    font-size: 16px;
  }

  .data-card-header{
    font-size: 16px;
  }

  .data-card {
    padding: 5px;
  }
}

@media only screen and (max-width: 1150px){

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "header"
      "left-col"
      "right-col"
      "footer";
  }

  .big-number{
    font-size: 30px;
  }

  .little-number {
    font-size: 20px;
  }

  .data-card-header{
    font-size: 20px;
  }

  .data-card {
    padding: 10px;
  }

}

@media print{
  .form-div{
    display: none;
  }
}
