body {
  font-family: 'Montserrat', sans-serif;
}

.chart, .data-box, #chosen-store{
  border: solid 2px;
  border-color: Black;
  border-radius: 3px;
  border-color: var(--text);
  background-color: var(--blue);
}

.data-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-box, #chosen-store {
  font-size: 20px;
  font-weight: bold;
}

.header{
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  justify-content: center;
  align-items: center;
}

#chosen-store{
  width: 100%;
  margin: 5px;
  text-align: center;
  background-color: #00adb5;
}
.chart-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr) ;
  grid-gap: 2px;
  width: auto;
  height: auto;

}


#weekly-sales {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#weekly-guest-count {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#weekly-cumul-sales {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#weekly-sales-total {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#weekly-guest-count-total {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

#weekly-cumul-sales-total {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

@media only screen and (min-width: 1350px){
  .header{
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  #chosen-store{
    width: 300px;
    margin: 5px;
    text-align: center;
    border-color: var(--text);
    background-color: var(--blue);
  }

  .main {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    width: 100%;
  }

  .chart-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 400px;
  }

  .chart-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    height: auto;
    width: auto;
    max-height: 900px;
  }

  #weekly-sales {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #weekly-guest-count {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #weekly-cumul-sales {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  #total-sales-chart{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #weekly-sales-total {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #weekly-guest-count-total {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #weekly-cumul-sales-total {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

@media print{
  .form-div{
    display: none;
  }
  #chosen-store {
    font-size: 28px;
  }
  .header{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main {

  }
  .chart-grid{

  }
  .chart-box{

  }
  #weekly-sales {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #weekly-guest-count {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #weekly-cumul-sales {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  #total-sales-chart{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #weekly-sales-total {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #weekly-guest-count-total {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #weekly-cumul-sales-total {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}
