body {
  font-family: 'Montserrat', sans-serif;
}

.nav {
  grid-area: nav;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.header{
  display: flex;
  flex-flow: row nowrap;
  width: 1200px;
  justify-content: center;
  align-items: center;
}

#chosen-store{
  width: 100%;
  margin: 5px;
  text-align: center;
  background-color: #00adb5;
}

.data-box, #chosen-store{
  border: solid 2px;
  border-color: Black;
  border-radius: 3px;
  background-color: var(--blue);
  border-color: var(--text);
  height: 25px;
  margin-top: 5px;
}

.grid{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 5px;
  /*width: 1200px;
  height: 850px;*/
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
  background-color: var(--bg);
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
}

.content-box {
  padding: 5px;
}


@media print{
  .form-div{
    display: none;
  }
}
