body {
  font-family: 'Montserrat', sans-serif;
}


.header{
  display: flex;
  flex-flow: row nowrap;
  width: 10.5in;
  justify-content: center;
  align-items: center;
}

#chosen-store{
  width: 100%;
  margin: 5px;
  text-align: center;
  background-color: LightSteelBlue;
}

.data-box, #chosen-store{
  border: solid 2px;
  border-color: Black;
  border-radius: 3px;
  background-color: LightSteelBlue;
}

.grid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 3fr auto 2fr auto 1fr;
  grid-gap: 5px;
  width: 11in;
  max-width: 1500px;
  height: 8in;
  max-height: 900;
}

#sales-chart {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#guest-count-chart {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}

#sales-data {
  grid-column: 1 / 4;
  grid-row: 2/ 3;
}

#guest-count-data {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
}

#bbq-chart {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

#tacos-chart {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

#bbqgo-chart {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}

#bbq-data {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

#tacos-data {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}

#bbqgo-data {
  grid-column: 5 / 7;
  grid-row: 4 / 5;
}

#insp-chart{
  grid-column: 7 / 10;
  grid-row: 1 / 2;
}

@media print{
  .form-div{
    display: none;
  }
}
