body {
  font-family: 'Montserrat', sans-serif;
  background-color: #393e46;
}


.header{
  display: flex;
  flex-flow: row nowrap;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

#chosen-store{
  width: 100%;
  margin: 5px;
  text-align: center;
  background-color: #00adb5;
}

.data-box, #chosen-store{
  border: solid 2px;
  border-color: Black;
  border-radius: 3px;
  background-color: #00adb5;
  height: 25px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr 25px);
  grid-gap: 5px;
  width: 1100px;
  height: 850px;
}

#sales-chart {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#guest-count-chart {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}

#sales-data {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

#guest-count-data {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
}

#bbq-chart {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

#tacos-chart {
  grid-column: 4 / 7;
  grid-row: 3 / 4;
}

#bbq-data {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

#tacos-data {
  grid-column: 4 / 7;
  grid-row: 4 / 5;
}

#olo-chart{
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

#dd-chart{
  grid-column: 4 / 7;
  grid-row: 5 / 6;
}

#olo-data {
  grid-column: 1 / 4;
  grid-row: 6 / 7;
}

#dd-data {
  grid-column: 4 / 7;
  grid-row: 6 / 7;
}

#ratio-chart {
  grid-column: 7 / 10;
  grid-row: 5 / 6;
}

#ratio-data {
  grid-column: 7 / 10;
  grid-row: 6 / 7;
}

#bullet-container{
  grid-column: 7 / 10;
  grid-row: 1 / 5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.bullet-item{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 50px;
}

/*
#insp-data-card{
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}

#insp-chart{
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}
*/

@media print{
  .form-div{
    display: none;
  }
}
