{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">

    <div class="item-title">
      Cashier Efficiency
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-ce">Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-ce" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#edit-ce" disabled>Delete</button>
    </div>

  </div>

  <div class="row">

    <div class="item-title">
      Taco Times
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-ce" disabled>Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-ce" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#edit-ce" disabled>Delete</button>
    </div>

  </div>

  <div class="row">

    <div class="item-title">
      OLO Times
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-ce" disabled>Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-ce" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#edit-ce" disabled>Delete</button>
    </div>

  </div>

  <div class="row">

    <div class="item-title">
      Bag Times
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-ce" disabled>Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-ce" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#edit-ce" disabled>Delete</button>
    </div>

  </div>

  <div class="row">

    <div class="item-title">
      etc.
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-ce" disabled>Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-ce" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#edit-ce" disabled>Delete</button>
    </div>

  </div>
</div>

<div class="modal fade" id="add-ce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('speed.add')}}" method="post">
          {{form.csrf_token}}
          {{form.week_ending.label}} {{form.week_ending}}
          {{form.fiscal_week.label}} {{form.fiscal_week}}<br>
          {{form.fiscal_month.label}} {{form.fiscal_month}}
          {{form.fiscal_year.label}} {{form.fiscal_year}}<br>
          {{form.location.label}} {{form.location}}
          {{form.date_measured.label}} {{form.date_measured}}<br>
          <hr>
          <b>#1: </b>{{form.tm_name_one.label}} {{form.tm_name_one(size=15, maxlength=50)}}
          {{form.tm_sales_one.label}} {{form.tm_sales_one(size=6)}}
          {{form.tm_minutes_one.label}} {{form.tm_minutes_one(size=2)}}
          {{form.tm_efficiency_one.label}} {{form.tm_efficiency_one(size=5)}}<br>
          <hr>
          <b>#2: </b>{{form.tm_name_two.label}} {{form.tm_name_two(size=15, maxlength=50)}}
          {{form.tm_sales_two.label}} {{form.tm_sales_two(size=6)}}
          {{form.tm_minutes_two.label}} {{form.tm_minutes_two(size=2)}}
          {{form.tm_efficiency_two.label}} {{form.tm_efficiency_two(size=5)}}<br>
          <hr>
          <b>#3: </b>{{form.tm_name_three.label}} {{form.tm_name_three(size=15, maxlength=50)}}
          {{form.tm_sales_three.label}} {{form.tm_sales_three(size=6)}}
          {{form.tm_minutes_three.label}} {{form.tm_minutes_three(size=2)}}
          {{form.tm_efficiency_three.label}} {{form.tm_efficiency_three(size=5)}}<br>
          <hr>
          <b>#4: </b>{{form.tm_name_four.label}} {{form.tm_name_four(size=15, maxlength=50)}}
          {{form.tm_sales_four.label}} {{form.tm_sales_four(size=6)}}
          {{form.tm_minutes_four.label}} {{form.tm_minutes_four(size=2)}}
          {{form.tm_efficiency_four.label}} {{form.tm_efficiency_four(size=5)}}<br>
          <hr>
          <b>#5: </b>{{form.tm_name_five.label}} {{form.tm_name_five(size=15, maxlength=50)}}
          {{form.tm_sales_five.label}} {{form.tm_sales_five(size=6)}}
          {{form.tm_minutes_five.label}} {{form.tm_minutes_five(size=2)}}
          {{form.tm_efficiency_five.label}} {{form.tm_efficiency_five(size=5)}}<br>
          <hr>
          <b>#6: </b>{{form.tm_name_six.label}} {{form.tm_name_six(size=15, maxlength=50)}}
          {{form.tm_sales_six.label}} {{form.tm_sales_six(size=6)}}
          {{form.tm_minutes_six.label}} {{form.tm_minutes_six(size=2)}}
          {{form.tm_efficiency_six.label}} {{form.tm_efficiency_six(size=5)}}<br>
          <hr>
          <b>#7: </b>{{form.tm_name_seven.label}} {{form.tm_name_seven(size=15, maxlength=50)}}
          {{form.tm_sales_seven.label}} {{form.tm_sales_seven(size=6)}}
          {{form.tm_minutes_seven.label}} {{form.tm_minutes_seven(size=2)}}
          {{form.tm_efficiency_seven.label}} {{form.tm_efficiency_seven(size=5)}}<br>
          <hr>
          {{form.mod_one.label}} {{form.mod_one}}<br>
          {{form.mod_two.label}} {{form.mod_two}}

      </div>
      <div class="modal-footer">

        {{form.submit(class_='btn btn-primary')}}
      </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
