{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">

    <div class="item-title">
      Cashier Efficiency
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-ce">Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-ce" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#edit-ce" disabled>Delete</button>
    </div>

  </div>

  <div class="row">

    <div class="item-title">
      Sales
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-sales" >Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-ce" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#edit-ce" disabled>Delete</button>
    </div>

  </div>

  <div class="row">

    <div class="item-title">
      Inspections
    </div>

    <div class="item">
      <button type="button" name="button" class=" btn btn-primary" data-toggle="modal" data-target="#add-insp">Add</button>
      <button type="button" name="button" class=" btn btn-warning" data-toggle="modal" data-target="#edit-insp" disabled>Edit</button>
      <button type="button" name="button" class=" btn btn-danger" data-toggle="modal" data-target="#delete-insp" disabled>Delete</button>
    </div>

  </div>

</div>

<!--MODAL TO ADD CASHIER EFFICIENCY-->

<div class="modal fade" id="add-ce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Cashier Efficiency</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('speed.ce_add')}}" method="post">
          {{ceform.csrf_token}}
          {{ceform.week_ending.label}} {{ceform.week_ending}}
          {{ceform.week_of_month.label}} {{ceform.week_of_month}}
          {{ceform.fiscal_month.label}} {{ceform.fiscal_month}}
          <br>
          {{ceform.fiscal_year.label}} {{ceform.fiscal_year}}
          {{ceform.location.label}} {{ceform.location}}
          {{ceform.date_measured.label}} {{ceform.date_measured}}
          <hr>
          <b>#1: </b>{{ceform.tm_name_one.label}} {{ceform.tm_name_one(size=15, maxlength=50)}}
          {{ceform.tm_sales_one.label}} {{ceform.tm_sales_one(size=6)}}
          {{ceform.tm_minutes_one.label}} {{ceform.tm_minutes_one(size=2)}}
          {{ceform.tm_efficiency_one.label}} {{ceform.tm_efficiency_one(size=5)}}<br>
          <hr>
          <b>#2: </b>{{ceform.tm_name_two.label}} {{ceform.tm_name_two(size=15, maxlength=50)}}
          {{ceform.tm_sales_two.label}} {{ceform.tm_sales_two(size=6)}}
          {{ceform.tm_minutes_two.label}} {{ceform.tm_minutes_two(size=2)}}
          {{ceform.tm_efficiency_two.label}} {{ceform.tm_efficiency_two(size=5)}}<br>
          <hr>
          <b>#3: </b>{{ceform.tm_name_three.label}} {{ceform.tm_name_three(size=15, maxlength=50)}}
          {{ceform.tm_sales_three.label}} {{ceform.tm_sales_three(size=6)}}
          {{ceform.tm_minutes_three.label}} {{ceform.tm_minutes_three(size=2)}}
          {{ceform.tm_efficiency_three.label}} {{ceform.tm_efficiency_three(size=5)}}<br>
          <hr>
          <b>#4: </b>{{ceform.tm_name_four.label}} {{ceform.tm_name_four(size=15, maxlength=50)}}
          {{ceform.tm_sales_four.label}} {{ceform.tm_sales_four(size=6)}}
          {{ceform.tm_minutes_four.label}} {{ceform.tm_minutes_four(size=2)}}
          {{ceform.tm_efficiency_four.label}} {{ceform.tm_efficiency_four(size=5)}}<br>
          <hr>
          <b>#5: </b>{{ceform.tm_name_five.label}} {{ceform.tm_name_five(size=15, maxlength=50)}}
          {{ceform.tm_sales_five.label}} {{ceform.tm_sales_five(size=6)}}
          {{ceform.tm_minutes_five.label}} {{ceform.tm_minutes_five(size=2)}}
          {{ceform.tm_efficiency_five.label}} {{ceform.tm_efficiency_five(size=5)}}<br>
          <hr>
          <b>#6: </b>{{ceform.tm_name_six.label}} {{ceform.tm_name_six(size=15, maxlength=50)}}
          {{ceform.tm_sales_six.label}} {{ceform.tm_sales_six(size=6)}}
          {{ceform.tm_minutes_six.label}} {{ceform.tm_minutes_six(size=2)}}
          {{ceform.tm_efficiency_six.label}} {{ceform.tm_efficiency_six(size=5)}}<br>
          <hr>
          <b>#7: </b>{{ceform.tm_name_seven.label}} {{ceform.tm_name_seven(size=15, maxlength=50)}}
          {{ceform.tm_sales_seven.label}} {{ceform.tm_sales_seven(size=6)}}
          {{ceform.tm_minutes_seven.label}} {{ceform.tm_minutes_seven(size=2)}}
          {{ceform.tm_efficiency_seven.label}} {{ceform.tm_efficiency_seven(size=5)}}<br>
          <hr>
          {{ceform.mod_one.label}} {{ceform.mod_one}}
          {{ceform.mod_two.label}} {{ceform.mod_two}}

      </div>
      <div class="modal-footer">

        {{ceform.submit(class_='btn btn-primary')}}
      </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL TO ADD SALES-->

<div class="modal fade" id="add-sales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Sales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('sales.sales_add')}}" method="post">
          {{sales_form.csrf_token}}
          {{sales_form.week_ending.label}} {{sales_form.week_ending}}
          {{sales_form.location.label}} {{sales_form.location}}
          <hr>
          {{sales_form.sales.label}} {{sales_form.sales(size=5, placeholder='$')}}
          {{sales_form.bbq_sales.label}} {{sales_form.bbq_sales(size=5, placeholder='$')}}
          {{sales_form.taco_sales.label}} {{sales_form.taco_sales(size=5, placeholder='$')}}
          {{sales_form.group_meal_sales.label}} {{sales_form.group_meal_sales(size=5, placeholder='$')}}<br>
          {{sales_form.mavn_sales.label}} {{sales_form.mavn_sales(size=5, placeholder='$')}}
          {{sales_form.doordash_sales.label}} {{sales_form.doordash_sales(size=5, placeholder='$')}}
          <hr>
          {{sales_form.total_guest_count.label}} {{sales_form.total_guest_count(size=5)}}
          {{sales_form.bbq_guest_count.label}} {{sales_form.bbq_guest_count(size=5)}}
          {{sales_form.taco_guest_count.label}} {{sales_form.taco_guest_count(size=5)}}



      </div>
      <div class="modal-footer">
        {{sales_form.submit(class_='btn btn-primary')}}

      </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL TO ADD INSP-->

<div class="modal fade" id="add-insp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Inspection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('clean.clean_add')}}" method="post">
          {{insp_form.csrf_token}}
          {{insp_form.week_ending.label}} {{insp_form.week_ending}}
          {{insp_form.fiscal_month.label}} {{insp_form.fiscal_month}}
          {{insp_form.fiscal_year.label}} {{insp_form.fiscal_year}}<br>
          {{insp_form.week_of_month.label}} {{insp_form.week_of_month}}
          {{insp_form.week_of_year.label}} {{insp_form.week_of_year(size=2)}}
          {{insp_form.quarter.label}} {{insp_form.quarter}}
          <hr>
          {{insp_form.concept.label}} {{insp_form.concept}}
          {{insp_form.location.label}} {{insp_form.location}}
          <hr>
          {{insp_form.date_measured.label}} {{insp_form.date_measured}}
          {{insp_form.score.label}} {{insp_form.score(size=5)}}

      </div>
      <div class="modal-footer">
        {{insp_form.submit(class_='btn btn-primary')}}

      </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
