<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='c3.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='chart.css')}}">
    <title></title>
  </head>
  <body>
    <div class="form-div">
      <form id="store-picker" class="" action="index.html" method="post">
        <select id="store-select">
          <option value="none" selected disabled hidden>
          Select an Location</option> 
          <option value="183">North</option>
          <option value="360">South</option>
          <option value="Round Rock">Round Rock</option>
        </select>
      </form>
      <p id="chosen-store"></p>
    </div>
    <div id="chart">

    </div>

    <script src="{{url_for('static',filename='d3.min.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static',filename='c3.min.js')}}"></script>
    <script src="{{url_for('static',filename='chart.js')}}"></script>


  </body>
</html>
