{% extends "base.html" %}
{% block content %}

<!--<iframe src="https://knlabor.herokuapp.com/" width=1200 height=800>--!>

<div class="chart">
  <canvas id="myChart"></canvas>
</div>


<form action="{{url_for('speed.add')}}" method="post">

  {{form.csrf_token}}
  {{form.week_ending.label}}{{form.week_ending}}<br>
  {{form.fiscal_week.label}}{{form.fiscal_week}}<br>
  {{form.location.label}}{{form.location}}<br>
  {{form.date_measured.label}}{{form.date_measured}}<br>
  {{form.tm_name.label}}{{form.tm_name(size=20, maxlength=50)}}<br>
  {{form.tm_sales.label}}{{form.tm_sales(size=5)}}<br>
  {{form.tm_minutes.label}}{{form.tm_minutes(size=5)}}<br>
  {{form.tm_efficiency.label}}{{form.tm_efficiency(size=5)}}<br>
  {{form.submit}}

</form>

  {% for i in result %}
  {{i.tm_name}} - {{i.tm_efficiency}}<br>
  {% endfor %}


{% endblock %}
