{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{url_for('static',filename='main-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='kbds.css')}}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}<title>Mighty Fine KBDs</title>{% endblock %}

{% block content %}
    <div class="grid">

    <div class="header">
      <div class="form-div">
        <form id="store-picker" class="" action="index.html" method="post">
          <select id="store-select">
            <option value="none" selected disabled hidden>
            Select an Location</option>
            <option value="MF1">MF1</option>
            <option value="MF2">MF2</option>
            <option value="MF3">MF3</option>
            <option value="MF4">MF4</option>
            <option value="MFT2">MF Trailer</option>
          </select>
        </form>
      </div>
      <div id="chosen-store">Location: </div>
    </div>

    <div class="left-col">
    <div class="data-box" id="clean-box">

      <div class="data-box-header">
        Cleanliness
      </div>
      <div class="data-box-title">
        Inspections
      </div>
      <div class="data-row" id="insp-row">

      <div class="data-card" id="insp-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="insp-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="insp-month">-- Mo</div><div id="insp-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="insp-chart">

      </div>

      <div class="data-card" id="insp-concept-data-card">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number" id="insp-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="insp-concept-month">-- Mo</div><div id="insp-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>

    <div class="data-box" id="speed-box">

      <div class="data-box-header">
        Speed of Service
      </div>
      <div class="data-box-title">
        Bag Times
      </div>
      <div class="data-row" id="bag-times-row">

      <div class="data-card" id="bag-times-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="bag-times-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="bag-times-month">-- Mo</div><div id="bag-times-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="bag-times-chart">

      </div>

      <div class="data-card" id="bag-times-concept-data-card">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number" id="bag-times-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="bag-times-concept-month">-- Mo</div><div id="bag-times-concept-q">-- Q</div>
        </div>

      </div>

      </div>

      <div class="data-box-title">
        Cashier Efficiency
      </div>
      <div class="data-row" id="ce-row">

      <div class="data-card" id="ce-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="ce-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="ce-month">-- Mo</div><div id="ce-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="ce-chart">

      </div>

      <div class="data-card" id="ce-concept-data-card">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number" id="ce-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="ce-concept-month">-- Mo</div><div id="ce-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>


  </div>

  <div class="right-col">

    <div class="data-box" id="tx-hosp-box">

      <div class="data-box-header">
        Tx Hospitality
      </div>
      <div class="data-box-title">
        Game Films
      </div>
      <div class="data-row" id="gf-row">

      <div class="data-card" id="gf-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="gf-week-card">
        </div>

        <div class="little-number">
          <div id="gf-month">-- Mo</div><div id="gf-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="gf-chart">

      </div>

      <div class="data-card" id="gf-concept">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number">

        </div>

        <div class="little-number">
          <div id="gf-concept-month">-- Mo</div><div id="gf-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>

    <div class="data-box" id="acc-box">

      <div class="data-box-header">
        Accuracy
      </div>
      <div class="data-box-title">
        Order Accuracy
      </div>
      <div class="data-row" id="acc-row">

      <div class="data-card" id="acc-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="acc-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="acc-month">-- Mo</div><div id="acc-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="acc-chart">

      </div>

      <div class="data-card" id="acc-concept-data-card">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number" id="acc-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="acc-concept-month">-- Mo</div><div id="acc-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>

    <div class="data-box" id="value-box">

      <div class="data-box-header">
        Value
      </div>
      <div class="data-box-title">
        Labor %
      </div>
      <div class="data-row" id="labor-row">

      <div class="data-card" id="labor-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="labor-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="labor-month">-- Mo</div><div id="labor-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="labor-chart">

      </div>

      <div class="data-card" id="labor-concept-data-card">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number" id="labor-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="labor-concept-month">-- Mo</div><div id="labor-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>
  </div>
  <div class="footer"></div>
    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script type="module" src="{{url_for('static',filename='mf_kbds.js')}}"></script>
{% endblock %}
