<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='main-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='mf-kbds.css')}}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Mighty Fine KBDs</title>
  </head>
  <body>

    <div class="grid">

    <div class="header">
      <div class="form-div">
        <form id="store-picker" class="" action="index.html" method="post">
          <select id="store-select">
            <option value="none" selected disabled hidden>
            Select an Location</option>
            <option value="MF1">MF1</option>
            <option value="MF2">MF2</option>
            <option value="MF3">MF3</option>
            <option value="MF4">MF4</option>
            <option value="MFT2">MF Trailer</option>
          </select>
        </form>
      </div>
      <div id="chosen-store"><<< Select a location</div>
    </div>

    <div class="data-box" id="clean-box">

      <div class="data-box-header">
        Cleanliness
      </div>
      <div class="data-box-title">
        Inspections
      </div>
      <div class="data-row" id="insp-row">

      <div class="data-card" id="insp-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="insp-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="insp-month">-- Mo</div> | <div id="insp-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="insp-chart">

      </div>

      <div class="data-card" id="insp-concept-data-card">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number" id="insp-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="insp-concept-month">-- Mo</div> | <div id="insp-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>

    <div class="data-box" id="tx-hosp-box">

      <div class="data-box-header">
        Tx Hospitality
      </div>
      <div class="data-box-title">
        Game Films
      </div>
      <div class="data-row" id="tx-hosp-row">

      <div class="data-card" id="tx-hosp-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="tx-hosp-week-card">
          -- Wk
        </div>

        <div class="little-number">
          <div id="tx-hosp-month-card">-- Mo</div> | <div id="tx-hosp-q-card">-- Q</div>
        </div>

      </div>


      <div class="chart" id="tx-hosp-chart">

      </div>

      <div class="data-card" id="tx-hosp-concept">

        <div class="data-card-header">
          Mighty Fine
        </div>

        <div class="big-number">
          -- Wk
        </div>

        <div class="little-number">
          -- Mo | -- Q
        </div>

      </div>

      </div>

    </div>





    </div>


<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="{{url_for('static',filename='mf_kbds.js')}}"></script>


</body>
</html>
