{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{url_for('static',filename='main-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='kbds.css')}}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">{% endblock %}

    {% block title %}<title>Rudy's KBDs</title>{% endblock %}

    {% block content %}

    <div class="grid">

    <div class="header">
      <div class="form-div">
        <form id="store-picker" class="" action="index.html" method="post">
          <select id="store-select">
            <option value="none" selected disabled hidden>
            Select an Location</option>
            <option value="183">North</option>
            <option value="360">South</option>
            <option value="Round Rock">Round Rock</option>
            <option value="620">620</option>
            <option value="Lamar">Lamar</option>
          </select>
        </form>
      </div>
      <div id="chosen-store"><<< Select a location</div>
    </div>
<div class="left-col">
    <div class="data-box" id="clean-box">

      <div class="data-box-header">
        Cleanliness
      </div>
      <div class="data-box-title">
        <div class="big-title">Inspections</div><div class="small-title" id="insp-title"></div>
      </div>
      <div class="data-row" id="insp-row">

      <div class="data-card" id="insp-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="insp-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="insp-month">-- Mo</div><div id="insp-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="insp-chart">

      </div>

      <div class="data-card" id="insp-concept-data-card">

        <div class="data-card-header">
          Rudy's
        </div>

        <div class="big-number" id="insp-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div class="month" id="insp-concept-month">-- Mo</div><div class="quarter" id="insp-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>

    <div class="data-box" id="speed-box">

      <div class="data-box-header">
        Speed of Service
      </div>
      <div class="data-box-title">
        <div class="big-title">Taco Times</div> <div class="small-title" id="taco-title"></div>
      </div>
      <div class="data-row" id="taco-times-row">

      <div class="data-card" id="taco-times-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="taco-times-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="taco-times-month">-- Mo</div><div id="taco-times-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="taco-times-chart">

      </div>

      <div class="data-card" id="taco-times-concept-data-card">

        <div class="data-card-header">
          Rudy's
        </div>

        <div class="big-number" id="taco-times-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div class="month" id="taco-times-concept-month">-- Mo</div><div class="quarter" id="taco-times-concept-q">-- Q</div>
        </div>

      </div>

      </div>

      <!--<div class="data-box-title">
        <div class="big-title">OLO Times</div><div class="small-title" id="olo-title"></div>
      </div>
      <div class="data-row" id="olo-times-row">

      <div class="data-card" id="olo-times-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="olo-times-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="olo-times-month">-- Mo</div><div id="olo-times-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="olo-times-chart">

      </div>

      <div class="data-card" id="olo-times-concept-data-card">

        <div class="data-card-header">
          Rudy's
        </div>

        <div class="big-number" id="olo-times-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div class="month" id="olo-times-concept-month">-- Mo</div><div class="quarter" id="olo-times-concept-q">-- Q</div>
        </div>

      </div>

      </div>-->

    </div>

    </div>

    <div class="right-col">

    <div class="data-box" id="tx-hosp-box">

      <div class="data-box-header">
        Tx Hospitality
      </div>
      <div class="data-box-title">
        <div class="big-title">Game Films</div><div class="small-title" id="gf-title"></div>
      </div>
      <div class="data-row" id="gf-row">

      <div class="data-card" id="gf-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="gf-week-card">
        </div>

        <div class="little-number">
          <div id="gf-month">-- Mo</div><div id="gf-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="gf-chart">

      </div>

      <div class="data-card" id="gf-concept">

        <div class="data-card-header">
          Rudy's
        </div>

        <div class="big-number">

        </div>

        <div class="little-number">
          <div id="gf-concept-month">-- Mo</div><div id="gf-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>

    <div class="data-box" id="acc-box">

      <div class="data-box-header">
        Accuracy
      </div>
      <div class="data-box-title">
        <div class="big-title">Order Accuracy</div><div class="small-title" id="acc-title"></div>
      </div>
      <div class="data-row" id="acc-row">

      <div class="data-card" id="acc-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="acc-week-big">
          -- Wk
        </div>

        <div class="little-number acc-text">
          <div id="acc-month">-- Mo</div><div id="acc-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="acc-chart">

      </div>

      <div class="data-card" id="acc-concept-data-card">

        <div class="data-card-header">
          Rudy's
        </div>

        <div class="big-number" id="acc-concept-big">
          -- Wk
        </div>

        <div class="little-number acc-text">
          <div id="acc-concept-month">-- Mo</div><div id="acc-concept-q">-- Q</div>
        </div>

      </div>

      </div>

      <div class="data-box-title">
        <div class="big-title">To-Go Labels</div><div class="small-title" id="tgl-title"></div>
      </div>
      <div class="data-row" id="tgl-row">

      <div class="data-card" id="tgl-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="tgl-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="tgl-month">-- Mo</div><div id="tgl-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="tgl-chart">

      </div>

      <div class="data-card" id="tgl-concept-data-card">

        <div class="data-card-header">
          Rudy's
        </div>

        <div class="big-number" id="tgl-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="tgl-concept-month">-- Mo</div><div id="tgl-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>

    <div class="data-box" id="value-box">

      <div class="data-box-header">
        Value
      </div>
      <div class="data-box-title">
        <div class="big-title">Labor %</div><div class="small-title" id="labor-title"></div>
      </div>
      <div class="data-row" id="labor-row">

      <div class="data-card" id="labor-data-card">

        <div class="data-card-header">
          Store
        </div>

        <div class="big-number" id="labor-week-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="labor-month">-- Mo</div><div id="labor-q">-- Q</div>
        </div>

      </div>


      <div class="chart" id="labor-chart">

      </div>

      <div class="data-card" id="labor-concept-data-card">

        <div class="data-card-header">
          Rudy's
        </div>

        <div class="big-number" id="labor-concept-big">
          -- Wk
        </div>

        <div class="little-number">
          <div id="labor-concept-month">-- Mo</div><div id="labor-concept-q">-- Q</div>
        </div>

      </div>

      </div>

    </div>
    <div class="footer"></div>
    </div>





    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="{{url_for('static',filename='moment.min.js')}}"></script>
<script type="module" src="{{url_for('static',filename='rudys_kbds.js')}}"></script>
{% endblock %}
