{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{url_for('static',filename='store_weekly.css')}}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}<title>Sales Details</title>{% endblock %}

{% block content %}

    <div class="header">
      <div class="form-div">
        <form id="store-picker" class="" action="index.html" method="post">
          <select id="store-select">
            <option value="none" selected disabled hidden>
            Select an Location</option>
            <option value="183">North</option>
            <option value="360">South</option>
            <option value="Round Rock">Round Rock</option>
            <option value="620">620</option>
            <option value="Lamar">Lamar</option>
            <option value="MF1">MF1</option>
            <option value="MF2">MF2</option>
            <option value="MF3">MF3</option>
            <option value="MF4">MF4</option>
            <option value="MFT2">MF Trailer</option>
          </select>
        </form>
      </div>
      <div id="chosen-store"><<< Select a location</div>
    </div>

    <div class="grid">


          <div id="sales-chart" class="chart">
          </div>

          <div id="guest-count-chart" class="chart">
          </div>

          <div id="sales-data" class="data-box">Weekly Sales
          </div>

          <div id="guest-count-data" class="data-box">Weekly Guest Count
          </div>

          <div id="bbq-chart" class="chart">
          </div>

          <div id="tacos-chart" class="chart">
          </div>

          <div id="bbq-data" class="data-box">BBQ Guest Count
          </div>

          <div id="tacos-data" class="data-box">Tacos Guest Count
          </div>

          <div id="olo-chart" class="chart">
          </div>

          <div id="dd-chart" class="chart">
          </div>

          <div id="olo-data" class="data-box">OLO Sales
          </div>

          <div id="dd-data" class="data-box">DoorDash Sales
          </div>

          <div id="ratio-chart" class="chart">
          </div>

          <div id="ratio-data" class="data-box">OLO % | DoorDash %
          </div>


        <div id="bullet-container">

          <div class="bullet-item">

            <div id="insp-chart" class="chart">
            </div>

            <div id="insp-data-card" class="data-box">Inspections
            </div>

          </div>

          <div class="bullet-item">

            <div id="ce-chart" class="chart">
            </div>

            <div id="ce-data-card" class="data-box">Cashier Efficiency
            </div>

          </div>

          <div class="bullet-item">

            <div id="accident-chart" class="chart">
            </div>

            <div id="accident-data-card" class="data-box">Days Accident Free - 546 | Record 1987
            </div>

          </div>

        </div>





    </div>

    {% endblock %}

{% block js %}
  <script src="{{url_for('static',filename='store_weekly.js')}}"></script>
{% endblock %}
